@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Light mode by default */
	--color-primary: #37ac7d;
	--color-primary-focus: #158658;
	--color-primary-content: #f7f7f7;

	--color-secondary: #5571da;
	--color-secondary-focus: #455ebd;
	--color-secondary-content: #e9efed;

	--color-base-100: #ffffff;
	--color-base-200: #f4f4f5;
	--color-base-300: #cdcdcd;
	--color-base-400: #b7b7b7;
	--color-base-content: #202220;

	--color-info: #5571da;
	--color-info-content: #ffffff;
	--color-success: #37ac7d;
	--color-success-content: #0a3524;
	--color-warning: #dbd431;
	--color-warning-content: #4a4919;
	--color-error: #c05243;
	--color-error-content: #ffe7e3;
}

.dark {
	--color-primary: #37ac7d;
	--color-primary-focus: #158658;
	--color-primary-content: #202220;

	--color-secondary: #5571da;
	--color-secondary-focus: #455ebd;
	--color-secondary-content: #e9efed;

	--color-base-400: #b0b0b0;
	--color-base-300: #797979;
	--color-base-200: #474747;
	--color-base-100: #1c1f1c;
	--color-base-content: #e9efed;

	--color-info: #8589ff;
	--color-info-content: #000000;
	--color-success: #37ac7d;
	--color-success-content: #0a3524;
	--color-warning: #dbd431;
	--color-warning-content: #4a4919;
	--color-error: #c05243;
	--color-error-content: #ffe7e3;
}
